# mindeye/3t/
mindeye/conf/config.json
mindeye/venv

mindeye/.Rhistory
mindeye/.ipynb_checkpoints/
mindeye/debug_betas.ipynb
mindeye/mindeye.py
mindeye/mindeye_6_21_2024.py
mindeye/mindeye_no_sliceTimed.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
.installed.cfg
MANIFEST
wheels/
node_modules/
package-lock.json

# MacOS stuff
.DS_Store
.vscode
